@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>LTC Medicare Provider Manager</h1>
    <p class="lead">Track Key Provider Data</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add A Provider</h2>
        <p>Add a new provider to be tracked to the database. All data except for provider number (CCN) is optional!</p>
        <p><a class="btn btn-default" href= @Url.Action("create","Provider") >Add &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Index of Providers</h2>
        <p>Display a list of all providers with abridged data. All data may be viewed in the detail view linked in the index</p>
        <p><a class="btn btn-default" href=@Url.Action("index","Provider")>Index &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Edit & Delete</h2>
        <p>Edit and Delete Functions may be accessed from the Provider Detail View, accessible from the Index</p>
        
    </div>
</div>